@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body{
    background-color: #87c8c5;
}
.all{width: 1100px;
    height: 800px;
    }
.main{
    background-color: #25b3b4;
    text-align: center;
border: solid #029891 ;}
li{
    display: inline-block;
    padding-right: 20px;
    font-family:'Slabo 27px', serif;
}
a{
    color: white;
    text-decoration: none;
}
.logo{
    width: 100px;
    border-color: #029891;
}
p{
    font-family: 'Open Sans', sans-serif;
font-size: x-small;}
.head{
    width: 400px;
    text-align: center;
    margin-left:300px;
}
h2{
    font-family: 'Open Sans', sans-serif
}
.mid{
    background-color: #b6dddc;
    width: 500px;
    height: 670px;
    margin-left: 250px;
    padding-top: 10px;
margin-top: 30px;
}
h1{
    text-align: center;
}
span{
    color: #029891;
}
.recipes{
    border-radius: 80px;
    float: left;
    margin-right: 20px;
    width: 70px;
    height: 70px;
}
h3{
    text-indent: 30px;
    clear:both;
}
.para1{
    width: 200px;
    height: 550px;
    margin-left: 25px;
}
.para2{
    width: 200px;
    height: 500px;
    margin-left: 400px;
    position: absolute;
    top: 508px;
    left: 130px;
}
.seconde{
    padding-bottom: 0.2em;
}
.vignette{
    background-color: #25b3b4;
    width: 170px;
    height: 650px;
    margin-left: 800px;
    text-align: center justify;
    position: relative;
    top: -487px;
    border: solid #029891;
left: -30px;

}
h5{
    color: #d3eeee;
    position: relative;
    top: -15px;
    margin-bottom: 0;
}
h4{
    color: #d3eeee;
    text-indent: 8px;
    padding-top: 20px;

}
title{
    color:#d3eeee;
}
.poisson{
    margin-left: 80px;
    position: relative;
    top: -110px;
    right: -20px;
    width: 95px;
}
.centre{
    position: relative;
    top: -130px;
    padding: 10px;
}
button{
    background-color: #25b3b4;
    border: none;
    color: white;
    margin-left:100px;
    padding:8px;
    font-size: x-small;
}
.academy{
    border: none;
    border-radius: 40px;
    text-align: center;
    width: 30px;
    position: relative;
    bottom: 450px;
    left: 20px;
}
.last{
    text-align: center;
    width: 800px;
    margin-left: 100px;
    top: 0px
}
footer p{
position:relative;
bottom: 440px;

}
